<div class="panel">
	  <%= render partial: "dashboards/layouts/new" %>
    <table id="#dashboard_layouts">
        <thead>
            <tr>
                <th width="100">view</th>
                <th width="200">name</th>
                <th width="250">schedule</th>
                <th width="150"> </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>
