<nav class="top-bar" data-options="is_hover:false">
  <section class="top-bar-section">
    <ul class="left">
      <li class="divider"></li>
      <li class="active"><a href="#">Dashboards</a></li>
      <li class="divider"></li>
      <li><a href="#">Users</a></li>
      <li class="divider"></li>
    </ul>
 	<ul class="right">
	 <li class="divider"></li>
     <li class="active"><a href="/logout">Logout</a></li>
	</ul>
  </section>
</nav>	
