<div class="row">
  <div class="small-3 columns">
    <button id="add_dashboard_btn" class="button">Add Dashboard</button>
  </div>
  <div class="small-9 columns">

  <div id="add_dashboard_form" class="panel add_form">
    <div class="row">
  <div class="small-3 columns">
  </div>
  <div class="small-3 columns">
    <button id="close_dashboard_btn" class="close"></button>
  </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
          <input type="text" placeholder="unique dashboard name">
      </div>
       <div class="small-4 columns"><a href="#" class="small button">create&continue</a></div>
     </div>
    </div>
   </div>
   </div>
</div>

<div class="row">
	&nbsp;
</div>
<div class="row">
  <div class="small-3 columns">N58</div>
  <div class="small-2 columns">active</div>
  <div class="small-3 columns">link</div>
  <div class="small-1 columns"><a href="#" class="small button">edit</a></div>
  <div class="small-2 columns"><a href="#" class="small button">edit permissions</a></div>
</div>

<div class="row">
  <div class="small-3 columns">N58</div>
  <div class="small-2 columns">active</div>
  <div class="small-3 columns">link</div>
  <div class="small-1 columns"><a href="#" class="small button">edit</a></div>
  <div class="small-2 columns"><a href="#" class="small button">edit permissions</a></div>
</div>

<%= render partial: "dashboard" %>
