<button id="add_dashboard_btn" class="button">Add Dashboard</button>
    <div id="add_dashboard_form" class="panel dash_form add_form">
      <div>
        <div class="small-9 columns">
          <div class="alert-box alert round">&nbsp;</div>
        </div>
        <div class="small-1 columns">
          <div class="hide_form"></div>
        </div>
      </div>
      <div>
        <div class="small-6 columns">
          <input type="text" id="new_dashboard_name" name="name" placeholder="unique dashboard name">
        </div>
        <div class="small-6 columns">
          <button id="creating_dashboard" class="small button">create&continue</button>
          <button id="create_dashboard" class="small button">just create</button>
        </div>
      </div>
    </div>

<table id='dashboards_table'>
  <thead>
    <tr>
      <th width="200">name</th>
      <th>url</th>
      <th width="150">status</th>
      <th width="250">actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<!--%= render partial: "dashboard" %-->
