<div id="add_dashboard_form" class="panel">
    <div class="row">
       <h6 class="alert small-3 columns" style="visibility:hidden;color:red;">
          &nbsp;
       </h6>
    </div>
    <div class="row">
        <div class="small-3 columns">
          <input type="text" id="new_dashboard_name" name="name" placeholder="unique dashboard name">
        </div>
        <div class="small-3 columns">
           <button id="add_dashboard_btn" class="small button">Add Dashboard</button>
        </div>
        <div class="small-6 columns"></div>
    </div>
</div>
<br/>
<table id='dashboards_table'>
  <thead>
    <tr>
      <th width="200">name</th>
      <th>url</th>
      <th width="150">status</th>
      <th width="250">actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div id="mask"></div>

<div class="delete_dash_form">
    <h6>Enter Dashboard Name to Delete</h6>
    <input type="text" id="del_dash_name" name="name" placeholder="dashboard name">
    <div class="small-6 columns">
        <button id="del_dash_btn" class="small alert button">Delete</button>
    </div>
    <div class="small-6 columns">
        <button class="hide_form small success button">Cancel</button>
    </div>
</div>

