<div style="float: left;">
<button id="add_dashboard_btn" class="button">Add Dashboard</button>
</div>
    <div id="add_dashboard_form" class="panel dash_form add_form">
      <div class="alert-box alert round"></div>
      <div>
        <div class="small-6 columns">
          <input type="text" id="new_dashboard_name" name="name" placeholder="unique dashboard name">
        </div>
        <div class="small-4 columns">
          <button id="create_dashboard" class="small button">create&continue</button>
        </div>
        <div class="small-2 columns">
          <div class="hide_form small button">Cancel</div>
        </div>
      </div>
    </div>
<br/>
<table id='dashboards_table'>
  <thead>
    <tr>
      <th width="200">name</th>
      <th>url</th>
      <th width="150">status</th>
      <th width="250">actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div id="mask"></div>

<div class="delete_dash_form">
    <h6>Enter Dashboard Name to Delete</h6>
    <input type="text" id="del_dash_name" name="name" placeholder="dashboard name">
    <div class="small-6 columns">
        <button id="del_dash_btn" class="small alert button">Delete</button>
    </div>
    <div class="small-6 columns">
        <button class="hide_form small success button">Cancel</button>
    </div>
</div>

