<div class="row">
  <div class="large-2 columns">
    <ul id="edit_dash_nav" class="side-nav">
      <li data-panel="dashboard_layputs"><a href="void:function();">Layouts</a></li>
      <li class="divider"></li>
      <li data-panel="dashboard_users"><a href="void:function();">Permisions</a></li>
    </ul>
  </div>
  <div class="large-10 columns">
    <br/>
    <div class="row">
      <form class="custom" action="">
        <div class="row">
          <div class="small-2 columns">
            <h6>Dashboard </h6>
          </div>
          <div class="small-2 columns">
            <input type="text" placeholder="unique name">
          </div>
          <div class="small-2 columns">
            <select id="customDropdown1" class="small">
              <option>draft</option>
              <option>active</option>
            </select>
          </div>
          <div class="small-2 columns">
          </div>
          <div class="small-6 columns">
              <a href="void:javascript();" class="small button">Save</a>
          </div>
        </div>
      </form>
    </div>
    <div id="dashboard_layputs" class="row" style="display:none;">
      	<%= render partial: "dashboards/layouts/list" %>
    </div>
    <div  id="dashboard_users" class="row" style="display:none;">
     	<%= render partial: "dashboard_users" %>
    </div>
  </div>
</div>
