<form class="custom">
   <div class="row">
	      <div class="small-8 columns" style="background-color:lightgray;">
         <div class="row">&nbsp;</div>
          <div class="row">
                  <div class="small-5 columns">
          <input type="text" placeholder="email">
      </div>
             <div class="small-3 columns">
               <select id="customDropdown2" class="small">
                 <option>admin</option>
                 <option>content admin</option>
               </select>
             </div>
            <div class="small-3 columns">
             <a href="#" class="small button">add user</a>
            </div>
          </div>
          <div class="row">
            <div class="small-5 columns">dostanko@gmail.com</div>
             <div class="small-3 columns">
               <select id="customDropdown2" class="small">
                 <option>draft</option>
                 <option>active</option>
               </select>
             </div>
             <div class="small-1 columns"> <a href="#" class="small button">save</a></div>
             <div class="small-2 columns"> <a href="#" class="small button">delete</a></div>
          </div>
      </div>
  </div>
  </div>
</form>
